@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

html,body{
    box-sizing: border-box;
}
img {
    max-width: 100%;
    display: flex;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jp{

    margin: 0 auto;
    background-image: linear-gradient(#4a4a4ad6, #440000),url(http://street-crescer.surge.sh/images/flags/jp.png);    
    background-size:cover;
    height: 130vh;
}
.us{

    margin: 0 auto;
    background-image: linear-gradient(#4a4a4ad6, #000044),url(http://street-crescer.surge.sh/images/flags/us.png);
    background-size:cover;
    height: 120vh;
}
.jm{

    margin: 0 auto;
    background-image: linear-gradient(#4a4a4ad6, #004400),url(http://street-crescer.surge.sh/images/flags/jm.png);
    background-size:cover;
    height: 110vh;

}

.cn{

    margin: 0 auto;
    background-image: linear-gradient(#4a4a4ad6, #440000),url(http://street-crescer.surge.sh/images/flags/cn.png);
    background-size:cover;
    height: 120vh;
}

.gb{

    margin: 0 auto;
    background-image: linear-gradient(#4a4a4ad6, #000044),url(http://street-crescer.surge.sh/images/flags/gb.png);
    background-size:cover;
    height: 110vh;
}

.th{

    margin: 0 auto;
    background-image: linear-gradient(#4a4a4ad6, #000044),url(http://street-crescer.surge.sh/images/flags/th.png);
    background-size:cover;
    height: 120vh;
}

.ru{

    margin: 0 auto;
    background-image: linear-gradient(#4a4a4ad6, #440000),url(http://street-crescer.surge.sh/images/flags/ru.png);
    background-size:cover;
    height: 120vh;
}

.br{

    margin: 0 auto;
    background-image: linear-gradient(#4a4a4ad6, #004400),url(http://street-crescer.surge.sh/images/flags/br.png);
    background-size:cover;
    height: 130vh;
}

.div-logo{
    position: absolute;
    top: 4%;
    left: 584px;
    animation-name: logo;
    animation-duration: 2s;
}

.logo-street{
    width: 30%;
    margin-bottom: 20px;

}
@keyframes logo {
    0%   {
        transform: scale(0.1) rotate(0deg);
    }
    25%  { transform: scale(0.2) rotate(90deg) }
    50%  { transform: scale(0.3) rotate(180deg) }
    75%  { transform: scale(0.4) rotate(270deg)  }
    100% {
        transform: scale(0.5) rotate(360deg)
    }
}


.personagemEscolhido{
    
    width: 35%;    
    display: flex;    
    margin-top: 15%;
}

.foto-personagem{
    width: 50%;
    
}

.info-personagem{

    width:50%;
       
}
.escolhe-personagem{
    border: 1px solid black;
    width: 350px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    
}
.foto-personagemPequeno{

    width: 20%;
    border: 1px solid;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}



.foto-personagemPequeno:last-child{

    filter: brightness(0%);
    cursor: default;
}

.foto-personagemPequeno:hover{

    width: 20%;
     border-color: yellow;
}

.personagem-pequeno{

    filter: grayscale(100%);
    animation-duration: 0.4s;
    animation-name: slideInLeft2;
}

.personagem-pequeno:hover{

    filter: brightness(100%);

}
.nome-personagem{
    display: none;
    color: white;
    box-sizing: border-box;
}

.foto-personagemPequeno:hover .nome-personagem{

    position: absolute;
    top: 57px;
    left: -1px;
    background-color: rgba(255, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    
    display: flex;
    justify-content: center;
    display: block;

}

.personagemSelecionado{
    filter: brightness(100%);
    position: relative;
    top: -18px;    
    background-color: rgba(255, 0, 0, 0.5);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 20%;
    border-color: yellow;
}

.nome-personagem:hover{
    display: block;
    position: relative;
    top: -18px;    
    opacity: 1;
    background-color: rgba(255, 0, 0, 0.5);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.personagem-nome{
    font-family: 'Permanent Marker', cursive;
    color: white;
}
h1{
    text-shadow: 7px 0px black;
    font-size: 44px;
}
.personagem-altura, .personagem-estilo, .personagem-habilidade{
    background-color: #ffde00;
    color: black;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    font-family: 'Roboto';
}

.ajuste{

    margin-bottom: 10px;
}

.altura-estilo, .estilo-estilo, .estilo-habilidade {
    color: white;
    font-weight: 500;
    margin-left: 10px;
    font-size: 14px;
    font-family: 'Roboto';
}

.container-info{
    display: flex;
    flex-direction: column;
   
}

.altura{
    margin-bottom: 10px;
}
.habilidade{
    margin-top: 10px;
}

.imgAnimada {
    animation-name: slideInLeft;
    filter: drop-shadow(7px 0px black);
    animation-duration: 0.4s;
    
}

@keyframes slideInLeft {
    0%{
        transform: translateX(-30%);
        filter: drop-shadow(60px 0 white)
    }
}

@keyframes slideInLeft2 {
    to{
        
        filter: brightness(0%);
    }

    from{
        filter: brightness(200%);
    }
}







