.login_form, .registro_form{    
    margin: 0 auto;
    width: 26%;    
    display: flex;
    flex-direction: column;  
    padding: 20px;    
      
}

.login_form{
    height: 450px;
    /* height: 100vh; */
}

.registro_form{
    /* height: 720px; */
    height: 77%;
}