
.carrega {
    width: 243px;
    height: 56px;
    border-radius: 3px;
    background-color: #32363F;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    font-family: Roboto, sans-serif;
    margin-top: 20px;
}

.carrega-mais:hover{

   background-color: #4183ff;
}