<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Registro</title>
    </head>

    <body>
        <div class="container">
            <div id="frmLogin">
                <div class="form-group">
                    <label for="exampleInputEmail1">Titulo</label>
                    <input type="nome" class="form-control" id="titulo" aria-describedby="emailHelp" placeholder="Enter um titulo">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Descrição</label>
                    <input type="nome" class="form-control" id="descricao" aria-describedby="emailHelp" placeholder="Enter descrição">
                </div>
                <button id="btnSalvarPost" onClick="" class="btn btn-primary">Salvar</button>
            </div>   

            <table class="table table-borderless">
                    <thead>
                            <tr>                              
                              <th scope="col">Id</th>
                              <th scope="col">Nome</th>
                              <th scope="col">Texto</th>
                            </tr>
                          </thead>
                          <tbody id="corpo">                         
                          </tbody>
            </table>

            </div>
                 
        </div>

        
    </body>

    

    </html>

</body>

</html>