<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>TODO List</title>
</head>
<body>
  <div class="container">
    <div id="frmLogin">
      <div class="form-group">
        <label for="exampleInputEmail1">E-mail</label>
        <input type="email" class="form-control" id="usuario" aria-describedby="emailHelp" placeholder="Enter usuário">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Senha</label>
        <input type="password" class="form-control" id="senha" placeholder="Password">
      </div>
      <button id="loginButton" onClick="" class="btn btn-primary">Submit</button>
    </div>
  </div>
</body>
</html>